---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
</div>
<header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M1 1h16M1 7h16M1 13h16"></path>
            </svg>
          </span>
        </label>
        <div class="trigger">
          {%- for link in site.navigation -%}
            <a class="page-link" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a>
          {%- endfor -%}
        </div>
      </nav>
    </div>
  </header>
  
  